<configuration xmlns:patch="http://www.sitecore.net/xmlconfig" 
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/"
               >
  <sitecore>
    <pipelines>
      <renderField>
        <processor patch:before="*[@type='Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel']" type="CTS.Foundation.Pipelines.RenderField.GetLazyLoadImageFieldValue, CTS.Foundation.CustomFields" />
        <processor patch:before="*[@type='Sitecore.Pipelines.RenderField.RenderWebEditing, Sitecore.Kernel']" type="CTS.Foundation.Pipelines.RenderField.RenderWebEditing, CTS.Foundation.CustomFields" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>
